   /*! div style */
   .image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 2px;
  }

  .img-gallery {
	width: 100%;
  height: 200px;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-out.active {
    opacity: 1;
}
.intro-text {
  position: relative;
  z-index: 1000; /* Ensure the content appears above the background image */
  /* Add additional styling as needed */
}
.fullscreen-container {
  position: relative; /* Position the container relative to the viewport */
}

.intro-text {
  position: absolute; /* Position the element relative to the nearest positioned ancestor */
  top: 0; /* Align the top edge of the element with the top edge of the nearest positioned ancestor */
  left: 0; /* Align the left edge of the element with the left edge of the nearest positioned ancestor */
  width: 100%; /* Set the width of the element to 100% of the parent container */
  padding: 20px; /* Add padding to the element to create space around the content */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  z-index: 1000; /* Set the z-index to ensure the element appears above other elements */
  /* Add additional styling as needed */
}
.fullscreen-container {
  position: relative; /* Position the container relative to the viewport */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.intro-text {
  position: absolute; /* Position the element relative to the nearest positioned ancestor */
  top: 20px; /* Adjust the top position as needed to create space above the fullscreen image */
  left: 50%; /* Align the left edge of the element with the center of the container */
  transform: translateX(-50%); /* Move the element to the left by half of its width to center it */
  width: 80%; /* Set the width of the element to 80% of the container */
  max-width: 600px; /* Set the maximum width of the element */
  padding: 20px; /* Add padding to the element to create space around the content */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  z-index: 1000; /* Set the z-index to ensure the element appears above other elements */
  /* Add additional styling as needed */
}
